{% include "header.html" %}

<!--{{ fig|safe }}-->

<table class="table">
  <thead>
    <tr>
        {% for key, value in inhalt2 %}
        <th scope="col">{{ key }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for key, value in kubli %}
    <tr>
        {% for wert in value.values() %}
      <td>{{ wert }}</td>
        {% endfor %}
    </tr>
  {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>{{ summedauer }}</b></td>
        <td><b>{{ summedistanz }}</b></td>
        <td><b>{{ summehoehenmeter }}</b></td>
        <td></td>
    </tr>
  </tbody>
</table>

{% include "footer.html" %}
